# Ignore folders with filtered blast results
data/human_vs_insect/*
data/insect_vs_human/*
data/OrthoFinder/*
data/OrthoFinder_results/*
results/results_OrthoFinder/*
doc/notebook.md
data/old/*
scripts/plot_bbs_prot.RData
data/alignment/*
data/fasta/*
doc/Supplementary_Information_minorrevisions.docx
data/phylogenetic_tree/*
a
